body{
background-image: url('fond.png')
}
button{
    background-color: red;
}
body {
  background-image: url('fond.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 60% center;
  background-position: center 10%;
}
h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
  color: white;
}